<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Azucat</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/azucat.js"></script>
  <script type="text/javascript"> Azucat.start(<%= @ws_port %>); </script>
</head>
<body>
  <header>
    <div class="inner">
      <form action="" method="POST" data-remote>
        <input type="text" name="command"/>
      </form>
    </div>
  </header>
  <div id="timeline">
  </div>
</body>
</html>
