<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Azucat</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="icon" href="/images/favicon.ico">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/tinycon.js"></script>
  <script type="text/javascript" src="/js/azucat.js"></script>
  <script type="text/javascript">
    Azucat.start(<%= @ws_port %>, {
      audio: <%= !!@audio.to_s %>,
      audioFile: "<%= @audio_path %>"
    });
  </script>
</head>
<body>
  <header>
    <div class="inner">
      <form action="" method="POST" data-remote>
        <input type="text" name="command"/>
      </form>
    </div>
  </header>
  <div id="timeline">
  </div>
</body>
</html>
