body {
  margin-bottom: 1em;
  background-color: #222;
}
pre {
  height: 1.2em;
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-family: "Monaco", "Consolas", monospace;
  color: #ddd;
}
.bold               { font-weight: bold          }
.italic             { font-style: italic         }
.underline          { text-decoration: underline }
.black              { color: black               }
.red                { color: red                 }
.green              { color: green               }
.yellow             { color: yellow              }
.blue               { color: blue                }
.magenta            { color: magenta             }
.cyan               { color: cyan                }
.white              { color: white               }
.on-black           { background-color: black    }
.on-red             { background-color: red      }
.on-green           { background-color: green    }
.on-yellow          { background-color: yellow   }
.on-blue            { background-color: blue     }
.on-magenta         { background-color: magenta  }
.on-cyan            { background-color: cyan     }
.on-white           { background-color: white    }
.intense-black      { color: black               }
.intense-red        { color: red                 }
.intense-green      { color: green               }
.intense-yellow     { color: yellow              }
.intense-blue       { color: blue                }
.intense-magenta    { color: magenta             }
.intense-cyan       { color: cyan                }
.intense-white      { color: white               }
.on-intense-black   { background-color: black    }
.on-intense-red     { background-color: red      }
.on-intense-green   { background-color: green    }
.on-intense-yellow  { background-color: yellow   }
.on-intense-blue    { background-color: blue     }
.on-intense-magenta { background-color: magenta  }
.on-intense-cyan    { background-color: cyan     }
.on-intense-white   { background-color: white    }
